/* Primary Codes */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1rem;
  color: #fff;
  background-color: var(--Background);
  font-family: "Oxygen", sans-serif; /*General Font*/
}
/* Roots */
:root {
  --Header: #f6b319;
}
:root {
  --Background: #61122f;
}
:root {
  --Footer: #363636;
}
:root {
  --Text: #557c3e;
}
/* Navbar Header */
#header-nav {
  background-color: var(--Header) !important;
  border-radius: 0;
  border: 0;
}
#Logo {
  background: url("/IMG/Logo-IMG.png");
  background-size: cover;
  width: 18.75rem;
  height: 9.375rem;
  margin: 10px 15px 10px 0;
}
.navbar-brand {
  padding-top: 25px;
  margin-top: 20px;
}
.navbar-brand h1 {
  /*Restaurant name*/
  font-family: "Lora", serif;
  color: var(--Text);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin-top: 0;
  margin-bottom: 4px;
  line-height: 0.75;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand a:hover {
  text-decoration: overline var(--Text);
}
.navbar-brand p {
  /*Kosher Certification*/
  color: #000;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top: 15px;
}
.navbar-brand p span {
  vertical-align: middle;
}
#nav-list a {
  color: #951c49;
  text-align: center;
  border-radius: 1.875rem;
  cursor: pointer;
}
#nav-list a:hover {
  background: #e7e7e7;
  border-radius: 1.875rem;
  text-decoration: underline;
}
#nav-list a span {
  font-size: 1.8rem;
}
#Number {
  /* Phone Number */
  margin-top: 5px;
  font-size: 1.8rem;
  color: #951c49;
  text-align: right;
  padding-bottom: 0;
}
#Number:hover {
  text-decoration: underline;
}
#we-deliver {
  /* We Deliver */
  color: #557c3e;
  font-weight: 500;
  text-align: right;
  padding-right: 15px;
}
#Menu-list {
  position: absolute;
  right: 3.75rem;
  top: 0.625rem;
  background-color: var(--Header) !important;
  border-radius: 1.25rem;
}
#Menu-items {
  color: black;
  font-weight: 600;
}
.hr {
  display: flex;
  justify-content: center;
}
hr {
  display: inline-block;
  width: 43.75rem;
  color: var(--Header);
  border: 0.0625rem solid;
  opacity: 1;
}
/* -----Content----- */
.container  .RobinPIC{
  box-shadow: 0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;
}
/* ----------Media Queries---------- */ /* Header */
@media only screen and (max-width: 1199px) {
  #header-nav {
    height: 200px;
  }
  .navbar-brand h1 {
    font-size: 1.2rem;
  }
  #Menu-list {
    position: absolute;
    right: 3.75rem;
    top: 1.5rem;
  }
  .navbar-brand p {
    font-size: 0.8rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 990px) {
  #Logo {
    display: none;
  }
  #header-nav {
    height: 5rem;
  }
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-brand h1 {
    font-size: 1.5rem;
  }
  .navbar-brand p {
    display: none;
  }
  #Menu-list {
    display: flex;
    justify-content: center;
  }
  #navbarNav {
    width: 768px;
    margin: 0 auto;
  }
  #Phone {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #Number,
  #we-deliver {
    color: black;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-brand h1 {
    display: none;
  }
  #navbarNav {
    width: 320px;
  }
  #Menu-list {
    position: absolute;
    left: 3.5rem;
    top: 1rem;
  }
}
/* *****Large devices only***** */
/* Content */
@media (min-width: 1200px) {
  #Number2{
    display: none;
  }
  .RobinPIC {
    background: url(/IMG/Robinhood\ Restaurant.jpg) no-repeat;
    height: 42.1875rem;
    background-size: cover;
  }
}
/* *****Medium devices only***** */
/* Content */
@media (min-width: 992px) and (max-width: 1199px) {
  #Number2 {
    display: none;
  }
  .RobinPIC {
    background: url(/IMG/Robinhood\ Restaurant.jpg) no-repeat;
    height: 34.875rem;
    background-size: cover;
  }
}
/* *****Small devices only***** */
/* Content */
@media (min-width: 768px) and (max-width: 991px) {
  #Number2 {
    display: none;
  }
  .RobinPIC {
    background: url(/IMG/Robinhood\ Restaurant.jpg) no-repeat;
    height: 27rem;
    background-size: cover;
  }
}
/* ***** Extra small devices only***** */
/* Content */
@media (max-width: 767px) {
  #Number2 {
    background-color: var(--Header);
    width: calc(100% - 2%);
    height: 3.125rem;
    border-radius: .5rem;
    margin-bottom: 15px;
  }
  .content-text{
    text-align: center;
    color: var(--Background);
    text-shadow: 0 0 5px;
  }
  .RobinPIC {
    background: url(/IMG/Robinhood\ Restaurant.jpg) no-repeat;
    height: 22rem;
    background-size: cover;
  }
}
/* ----------End of Header Media Queries---------- */